In [2]:
import json

with open('hangzhou.json', 'r') as file:
    hangzhou = json.load(file)

print(hangzhou[0])

{'parent': '', 'address': '银湖街道中铁溪畔云景府北门20-12号商铺', 'distance': '', 'pcode': '330000', 'adcode': '330111', 'pname': '浙江省', 'cityname': '杭州市', 'type': '购物服务;综合市场;果品市场', 'typecode': '060704', 'adname': '富阳区', 'citycode': '0571', 'name': '心随果动水果商行', 'location': '119.936890,30.091010', 'id': 'B0JDYZ0ISB'}

In [3]:
import pandas as pd
hangzhou_df=pd.DataFrame(hangzhou)
hangzhou_df.head(2)

,parent,address,distance,pcode,adcode,pname,cityname,type,typecode,adname,citycode,name,location,id
0,,银湖街道中铁溪畔云景府北门20-12号商铺,,330000,330111,浙江省,杭州市,购物服务;综合市场;果品市场,060704,富阳区,0571,心随果动水果商行,"119.936890,30.091010",B0JDYZ0ISB
1,B0IKOH0Z53,万达同心湾北区北1门旁(高桥地铁站D口步行390米),,330000,330111,浙江省,杭州市,购物服务;综合市场;果品市场,060704,富阳区,0571,诚亦果品(万达同心湾北区店),"119.935081,30.093383",B0JU3GX57L

In [5]:
import pandasql

df=pandasql.sqldf("select adname,cityname,count(0) cnt from hangzhou_df group by adname,cityname order by cnt desc")
df

   adname cityname   cnt
0     萧山区      杭州市  1388
1     上城区      杭州市  1011
2     余杭区      杭州市   915
3     拱墅区      杭州市   858
4     临平区      杭州市   752
5     西湖区      杭州市   710
6     富阳区      杭州市   651
7     临安区      杭州市   493
8     钱塘区      杭州市   488
9     桐庐县      杭州市   360
10    滨江区      杭州市   352
11    建德市      杭州市   328
12    淳安县      杭州市   194
13    番禺区      广州市   192